#first {
  display: grid;
  text-align: center;
  margin-bottom: 0;
  background-color: #eeeeee;
  padding: 20px;
}

.firstpict {
  border-radius: 50%;
  border: 5px solid white;
}

.opening {
  font-size: 30px;
  gap: 0;
}

.a {
  font-size: 40px;
  margin-bottom: 0;
}

.b {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.c {
  font: 30px;
  margin-top: 0;
}

button {
  font-size: 20px;
  background-color: white;
  border-radius: 20%;
  text-align: center;
  border: none;
  box-shadow: 0px 0px 2px 2px;
}

#second {
  display: flex;
  background-color: #fefbe9;
  padding: 20px;
}

.secondpict {
  flex-basis: 40%;
}

.About {
  padding-left: 20px;
  font-size: 40px;
}

.description {
  padding-left: 20px;
}

#third {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  margin: 0 auto;
  background-color: #eeeeee;
}

.achiev {
  text-align: center;
  background-color: #eeeeee;
  font-size: 30px;
  margin: 0;
  font-style: bold;
}

.card {
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin: auto;
}

.image {
  margin: auto;
  border-radius: 100%;
  margin-top: 50px;
  box-shadow: 0px 0px 5px 5px;
  padding-top: 10px;
}
